/* General Styles */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk',sans-serif;
    outline: none;
    border: 0;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Layout styles-Left Part */
.container{
    display: flex;  
    max-width: 750px;
    border-radius: 1.25rem;
    box-shadow: 10px 10px 20px 5px hsla(221, 100%, 96%,0.8);
}

.result{
    width: 50%;
    text-align: center;
    padding: 2rem;
    border-radius: 1.25rem;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.result h1{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.6);
}

.result p{
    color: rgba(255, 255, 255, 0.5);
    padding: 0rem 1rem;
}

.score{
    height: 150px;
    max-width: 150px;
    border-radius: 150px;
    margin: 1.5rem auto;
    padding: 2rem;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(271, 72%, 46%, 0));
}

.score h2{
    font-size: 3.2rem;
    color: white;
}

.score p{
    color: rgba(255, 255, 255, 0.3);
    font-weight: 700;
    font-size: 0.8rem;
}

h3{
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    margin-bottom: 0.8rem;
}

/* Layout Styles-Right Part**/
.summary{
    border-radius: 0 1.25rem 1.25rem 0;
    width: 50%;
    padding: 2rem;
}

.summary h1{
    font-size: 1.4rem;
    color: hsl(224, 30%, 27%);
}

ul{
    list-style: none;
    margin: 1rem 0;
}

li{
    display: flex;
    position: relative;
    min-width: 310px;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
    border-radius: 0.625rem;
    background-color: gray;
}

svg{
    margin-right: 0.7rem;
    
}

h5{
    color: #bbb;
    font-size: 1rem;
    position: absolute;
    right: 0.8rem;
}

h5 span{
    color: hsl(224, 30%, 27%);
}

#reaction{
background-color: hsla(0, 100%, 67%,0.15);
color:hsla(0, 100%, 67%,0.85);
}

#memory{
background-color: hsla(39, 100%, 56%,0.15);
color: hsla(39, 100%, 56%,0.85);
}

#verbal{
background-color: hsla(166, 100%, 37%,0.15) ;
color: hsla(166, 100%, 37%,0.85);
}

#visual{
background-color: hsla(234, 85%, 45%,0.15);
color: hsla(234, 85%, 45%,0.85);
}

button{
    border-radius: 2rem;
    min-width: 310px;
    height: 50px;
    margin: 0 auto;
    font-size: 1.1rem;
    color: white;
    background:rgba(1, 15, 76, 0.838);
}

button:hover{
    cursor: pointer;
    background: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

/* Responsive Layout */
@media (min-width:0px) and (max-width:500px){
    .container{
        flex-direction: column;
    }
    .result{
        width: 100%;
        
    }
    .summary{
        width: 100%;
    }
}