*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Outfit',sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
    padding: 1rem;
    border-radius: 0.625rem;
    background-color: white;
}

img{
    max-width: 100%;
    border-radius: 0.625rem;
}

.text{
    text-align: center;
    margin: 0.625rem;
    font-size: 0.75rem;
}

h1{
    color:hsl(218, 44%, 22%);
    font-weight: 700;
}

p{
    margin-top: 0.625rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

